@model Employees.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
 
            <img src="~/Images/@ViewBag.Employee.ProfilePicture"
                 class="rounded-circle img-fluid rounded-start" style="padding:25px;"
                 height="250" width="250"
                 asp-append-version="true" />
        </div>



        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.Employee.FullName</h5>
                <p class="card-text">Title:@ViewBag.Employee.Position</p>
                <p class="card-text">Office:@ViewBag.Employee.Office</p>
                <p class="card-text">Age:@ViewBag.Employee.Age - Gender: @ViewBag.Employee.Gender </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@ViewBag.Employee.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
